.title {
    font-size: 64px;
    font-weight: bold;
    color: white;
    font-family: 'Cal Sans', sans-serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
