.title {
    font-size: 64px;
    font-weight: bold;
    color: white;
    font-family: 'Cal Sans', sans-serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
.AI_btn {
    display: block;
    background-color: rgb(255, 255, 255);
    outline: none;
    font-family: 'Cal Sans', sans-serif;
    border-radius: 15px;
    font-size: 18px;
    padding: 10px 25px;
    border: 2px solid #830fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn_container {
    display: flex;
    gap: 30px;
    margin: 20px;
    justify-content: center;
}
.selected_btn {
    background-color: rgb(241, 120, 250);
    transform: scale(1.05);
}

.AI_btn:hover {
    background-color: rgb(241, 120, 250);
    box-shadow: 0 0 5px 2px rgba(123, 0, 255, 0.5);
    transform: scale(1.05);
}

.AI_btn:active {
    transform: scale(0.98);
}